---
import Layout from "../../../layouts/Layout.astro";
import Image from "../../../components/Image.astro";
import Slide from "../../../components/Slide.astro";
import Text from "../../../components/Text.astro";
import Card from "../../../components/Card.astro";
import BeLangs from "@assets/be-langs.svg";
---

<Layout>
  <Slide
    next="/slides/backend-trends/2"
    prev="/slides/figure-a2-slide"
    title="Languages and tech in backend"
  >
    <div class="grid grid-cols-2 max-w-5xl gap-4">
      <div class="w-full">
        <Card title="Popular languages">
          <Image simple src={BeLangs.src} />
        </Card>
      </div>
      <Card title="Tech and trends">
        <div class="flex flex-col gap-2">
          <Text large>Laravel v12</Text>
          <Text large>Rails 8</Text>
          <Text large>Deno 2</Text>
          <Text large>Bun 1.2</Text>
        </div>
      </Card>
    </div>
  </Slide>
</Layout>
