---
import Layout from "@layouts/Layout.astro";
import Image from "@components/Image.astro";
import Slide from "@components/Slide.astro";
import Text from "@components/Text.astro";
import Card from "@components/Card.astro";
import Hybrid from "@assets/hybrid.svg";
---

<Layout>
  <Slide
    next="/slides/js-ts/1"
    prev="/slides/backend-trends/1"
    title="Rich application with minimal JavaScript"
  >
    <div class="grid grid-cols-2 max-w-5xl gap-4">
      <div class="w-full">
        <Image src={Hybrid.src} />
      </div>
      <div class="flex flex-col gap-2">
        <Text>
          The new era of component based development starts on the server.
        </Text>
        <Text>
          This techs often ment for create interactive applications without
          using any javascript.
        </Text>
      </div>
    </div>
  </Slide>
</Layout>
