---
import Layout from "@layouts/Layout.astro";
import Image from "@components/Image.astro";
import Slide from "@components/Slide.astro";
import Text from "@components/Text.astro";
import Card from "@components/Card.astro";
import Engines from "@assets/engines-2.svg";
import JsTs from "@assets/jsts.svg";
---

<Layout>
  <Slide
    next="/slides/js-ts/2"
    prev="/slides/backend-trends/2"
    title="Js/Ts Trends"
  >
    <div class="grid grid-cols-3 max-w-5xl gap-4">
      <div class="w-full">
        <Image src={Engines.src} />
      </div>
      <div class="flex flex-col gap-2 col-span-2">
        <div class="flex items-center">
          <img src={JsTs.src} class="w-32" />
          <Text>Both can run ts without any extra step.</Text>
        </div>
        <div>
          <Text
            >Deno is a more secure runtime environment. It now supports npm
            compatibility, allowing it to run virtually any available package.</Text
          >
        </div>
        <div>
          <Text
            >Bun uses the JavaScriptCore engine and Zig as a native bridge. It
            is npm-compatible and serves as a package manager, runtime, bundler,
            and compiler. With built-in APIs like SQLite, Bun is exceptionally
            fast.</Text
          >
        </div>
      </div>
    </div>
  </Slide>
</Layout>
