---
import Layout from "@layouts/Layout.astro";
import Image from "@components/Image.astro";
import Slide from "@components/Slide.astro";
import Text from "@components/Text.astro";
import Ts1 from "@assets/ts-1.svg";
import Ts2 from "@assets/ts-2.svg";
import Card from "@components/Card.astro";
---

<Layout>
  <Slide
    next="/slides/js-ts/3"
    prev="/slides/js-ts/1"
    title="What is typescript?"
  >
    <div class="grid grid-cols-2 max-w-5xl gap-4">
      <div>
        <Image simple src={Ts1.src} />
      </div>
      <div class="flex flex-col gap-2">
        <Image src={Ts2.src} />
        <Text>
          The Ts by itself is a compiler that turns the ts code into js.
        </Text>
        <Text>
          By design every js code is a valid ts code. The typescript is a
          superset of the javascript.
        </Text>
        <Card title="Hot from TS 5.8">
          <div class="flex flex-col gap-2">
            <Text> --erasableSyntaxOnly </Text>
            <Text> Granular Checks for Branches in Return Expressions </Text>
            <Text>
              Checked Returns for Conditional and Indexed Access Types
            </Text>
          </div>
        </Card>
      </div>
    </div>
  </Slide>
</Layout>
