---
import Layout from "@layouts/Layout.astro";
import Image from "@components/Image.astro";
import Slide from "@components/Slide.astro";
import Text from "@components/Text.astro";
import Tc39 from "@assets/tc39.svg";
import Ts2 from "@assets/ts-2.svg";
import Card from "@components/Card.astro";
---

<Layout>
  <Slide
    next="/slides/js-ts/4"
    prev="/slides/js-ts/2"
    title="News in JavaScript"
  >
    <div class="flex flex-col max-w-5xl gap-4">
      <div class="flex items-center">
        <img src={Tc39.src} class="w-32" />
        <Text large>Latest news from js spec</Text>
      </div>
      <Card list title="stage-3">
        <Text>Decorators</Text>
        <Text>Temporal</Text>
      </Card>
      <Card list title="stage-2">
        <Text>Record / Tuple</Text>
      </Card>
      <Card list title="stage-1">
        <Text>Signals</Text>
      </Card>
    </div>
  </Slide>
</Layout>
