---
import Layout from "@layouts/Layout.astro";
import Image from "@components/Image.astro";
import Slide from "@components/Slide.astro";
import Fs from "@assets/fullstack.svg";
import SsrFlow from "@assets/ssrflow.svg";
---

<Layout>
  <Slide
    next="/slides/11_ai"
    prev="/slides/9_js-frameworks"
    title="SSR was Hot in 2024"
  >
    <div class="grid grid-cols-2 max-w-4xl gap-4">
      <div class="col-span-2">
        <Image src={Fs.src} />
      </div>
      <div class="col-span-2">
        <Image src={SsrFlow.src} />
      </div>
    </div>
  </Slide>
</Layout>
