---
import Layout from "@layouts/Layout.astro";
import Image from "@components/Image.astro";
import Slide from "@components/Slide.astro";
import TrpcImg from "@assets/trpc.svg";
---

<Layout>
  <Slide prev="/slides/12_bundlers" title="Type safe frontend with trpc">
    <div class="grid grid-cols-2 max-w-4xl gap-4">
      <div class="col-span-2">
        <Image simple src={TrpcImg.src} />
      </div>
    </div>
  </Slide>
</Layout>
