---
import Layout from "../../layouts/Layout.astro";
import Image from "../../components/Image.astro";
import FigureC from "../../assets/figure-c.svg";
import EventLoop from "../../assets/js-event-loop.png";
import Slide from "../../components/Slide.astro";
import Text from "../../components/Text.astro";
import { fade } from "astro:transitions";
import Card from "../../components/Card.astro";
---

<Layout>
  <Slide
    next="/slides/5_definitions"
    prev="/slides/3_servers"
    title="How a browser works?"
  >
    <div class="grid grid-cols-12 max-w-5xl gap-4">
      <div class="w-full col-span-4">
        <Image src={FigureC.src} />
      </div>
      <div class="flex flex-col col-span-8 gap-4 justify-between">
        <Text>
          The browser retrieves resources from the server, renders the UI using
          HTML and CSS, executes JavaScript, responds to user interactions, and
          manipulates the layout via the DOM API if needed.
        </Text>
        <Card title="Event loop">
          <Image src={EventLoop.src} />
        </Card>
      </div>
    </div>
  </Slide>
</Layout>
