---
import Layout from "../../layouts/Layout.astro";
import Slide from "../../components/Slide.astro";
import { fade } from "astro:transitions";
import Card from "../../components/Card.astro";
---

<Layout>
  <Slide next="/slides/ground-up" prev="/" title="Agenda">
    <div class="w-full max-w-3xl grid grid-cols-2 gap-8">
      <Card
        title="1. Ground up"
        transition:animate={fade({ duration: "1s" })}
      />
      <Card
        title="2. Backend trends"
        transition:animate={fade({ duration: "1.2s" })}
      />
      <Card
        title="3. JS/TS trends"
        transition:animate={fade({ duration: "1.4s" })}
      />
      <Card
        title="4. Frontend environment"
        transition:animate={fade({ duration: "1.6s" })}
      />
      <Card
        title="5. Fullstack environment"
        transition:animate={fade({ duration: "1.8s" })}
      />
    </div>
  </Slide>
</Layout>
