---
import Layout from "../../layouts/Layout.astro";
import Slide from "../../components/Slide.astro";
import { fade, slide } from "astro:transitions";
import Card from "../../components/Card.astro";
---

<Layout>
  <Slide
    next="/slides/backend-trends/1"
    prev="/slides/browser-work"
    title="Definitions"
  >
    <div
      class="grid grid-cols-2 max-w-4xl gap-4"
      transition:animate={fade({ duration: "0.5s" })}
    >
      <Card transition:animate={slide({ duration: "1s" })} title="Server">
        The server is a system comprising both hardware and software, designed
        to share resources with clients. The client can either be a dedicated
        application built for a specific server or an external, third-party
        entity.
      </Card>
      <Card
        transition:animate={slide({ duration: "1.15s" })}
        title="Http Server"
      >
        A specific type of a server that uses http protocol for communication
        with the clients.
      </Card>
      <Card transition:animate={slide({ duration: "1.5s" })} title="Client">
        The client is a system that includes hardware and software, used to
        represent the state of a service. Often an end-user product, it serves
        as the interface for communication with the server.
      </Card>
      <Card
        transition:animate={slide({ duration: "1.55s" })}
        title="Http Client"
      >
        A specific type of client that uses http as main protocol for
        communication with the server
      </Card>
      <Card title="Backend" transition:animate={slide({ duration: "1.70s" })}>
        Backend can be described as:
        <ol class="list-disc pl-6">
          <li>Plarform (vsp, vercel, firebase)</li>
          <li>Language (ts, js, go, php)</li>
          <li>Database (psql, mongo)</li>
          <li>Framework (laravel, django)</li>
          <li>Api (rest, gql, trpc)</li>
        </ol>
      </Card>
      <Card title="Frontend" transition:animate={slide({ duration: "1.75s" })}>
        Backend can be described as:
        <ol class="list-disc pl-6">
          <li>Platform (mosty browser)</li>
          <li>Language (mostly ts/js)</li>
          <li>Framework (angular, react)</li>
          <li>Design system (material, bt)</li>
          <li>Rendering pattern (ssg, spa, ssr)</li>
        </ol>
      </Card>
    </div>
  </Slide>
</Layout>
