---
import Layout from "../../layouts/Layout.astro";
import Image from "../../components/Image.astro";
import FigureA from "../../assets/figure-a.svg";
import FigureA2 from "../../assets/figure-a2.svg";
import Slide from "../../components/Slide.astro";
import { fade, slide } from "astro:transitions";
import Text from "../../components/Text.astro";
---

<Layout>
  <Slide next="/slides/servers-work" prev="/slides/agenda" title="Ground Up">
    <div class="w-full max-w-3xl grid gap-8">
      <Text large transition:animate={fade({ duration: "1s" })}>
        The client is typically the system that the end user sees and interacts
        with
      </Text>
      <Text large transition:animate={fade({ duration: "1s" })}>
        The server, often an HTTP server, secures the architecture, manages
        resources, handles client requests, and persists necessary data.
      </Text>
    </div>
    <div
      class="w-full max-w-3xl"
      transition:animate={slide({ duration: "0.5s" })}
    >
      <Image src={FigureA.src} />
    </div>
  </Slide>
</Layout>
